body {
  background-color: #0b0f14;
  color: #e5e7eb;
}

.card-dark {
  background-color: #151a22;
  border: none;
  border-radius: 16px;
}

.text-muted {
  color: #9ca3af !important;
}

.btn-primary {
  background-color: #2563eb;
  border: none;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

input,
textarea {
  background-color: #1f2937 !important;
  border: none !important;
  color: #fff !important;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}
