.events-page {
  padding: 2rem 0;
  background-color: #0b0f14;
  min-height: 100vh;
}

.events-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.events-filters {
  margin-bottom: 2rem;
  gap: 1rem;
}

.event-image {
  width: 100%;
  height: 200px;
}


.event-card {
  background-color: #151a22;
  border: none;
  border-radius: 16px;
  height: 100%;
}

.event-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #4b4646;
  height: 60px;
}

.event-country {
  color: #9ca3af;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.event-btn {
  width: 100%;
}


.events-page input,
.events-page select {
  background-color: #1f2937;
  border: none;
  color: #fff;
}

.events-page input::placeholder {
  color: #9ca3af;
}

.events-page input:focus,
.events-page select:focus {
  background-color: #1f2937;
  color: #fff;
  box-shadow: 0 0 0 0.15rem rgba(37, 99, 235, 0.4);
}


.events-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  color: #9ca3af;
}
